{{#if grados}}
<a href="/adm/adm" class="btn btn-success">
  Volver
</a>

<a href="/adm/addgrado" class="btn btn-success">
  Agregar Nuevo Grado
</a>

<table class="table table-bordered table-hover bg-success mt-5">
  <div class="text-center">
    <h1>Grados</h1>
  </div>
  <thead>
    <tr>
      <th><strong>Nombre</strong></th>
       <th><strong>Materias</strong></th>

    </tr>
  </thead>
  <tbody>
    {{#each grados}}
    <tr>
      <td><strong>{{NombreGrado}}</strong></td>
      <td><strong>{{materias}}</strong></td>


      <td>
        <a href="" class="btn btn-info mb-1">
          Editar
        </a>
        <form action="" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger mb-1">Eliminar</button>
        </form>

      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>No Hay Grados Registrados</h1>
    <a href="/adm/addgrado" class="btn btn-success">
      Agregar Nuevo Grado
    </a>
  </div>

</div>
{{/if}}