<div class="d-flex">
    <div id="sidebar-container" class="hola ">
        <div class="logo text-dark fw-bold  font-italic">
            <strong> Secretario</strong>
        </div>

        <div class="menu lead">
            <a href="/adm/adm" class="d-block p-3 text-dark fw-bold "><i class="fa-solid fa-house"></i> Inicio</a>
            <a href="/adm/adm" class="d-block p-3 text-dark fw-bold "><i class="fa-solid fa-school-circle-check"></i> Estudiantes</a>
            <a href="/adm/adm" class="d-block p-3 text-dark fw-bold "><i class="fa-solid fa-arrow-down-wide-short"></i> Grados</a>
            <a href="/adm/adm" class="d-block p-3 text-dark fw-bold "> <i class="fa-solid fa-door-closed"></i> Seccion</a>
        </div>
    </div>
    <div class="w-100">

        <!-- Contenido principal-->
        <div id="contenido" class="pt-3 px-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-dark display-2"><Strong>Bienvenido</Strong></h4>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4 class="text-grey font-italic">Información de Interes</h4>
                    </div>
                </div>

                <!-- Cards -->
                <div class="row">
                    <!-- Card 1-->
                    <div class="col-md-4">
                        <div class="card text-bg-warning">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa-solid fa-users"></i>
                                        <h5 class="card-title fw-bold ">
                                            alumnos
                                        </h5>
                                    </div>
                                    <div class="col-4">
                                        <h2 class="fw-bold text-center display-5">? </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <h4 class="text-grey font-italic">Opciones</h4>
                    </div>
                </div>

                <!-- Botonera Accesos Rapidos -->
                <div class="row">
                    <!-- Boton 1-asignar estudiante-->
                    <div class="col-md-3 mb-4">
                        <a href="/adm/add">
                            <button onclick="mostrarModal()" class="btn btn-primary btn-lg fw-bold  text-dark">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa-solid fa-square-plus display-6 align-middle"></i>
                                    </div>
                                    <div class="col-6">
                                        Asignar estudiantes A Grado
                                    </div>
                                </div>
                            </button>
                        </a>
                    </div>

                    <!-- Boton 1-Asignar Grado a Una Seccion -->
                    <div class="col-md-3 mb-4">
                        <a href="/adm/add">
                            <button onclick="mostrarModal()" class="btn btn-primary btn-lg fw-bold  text-dark">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa-solid fa-square-plus display-6 align-middle"></i>
                                    </div>
                                    <div class="col-6">
                                        Asignar Grado a Una Seccion
                                    </div>
                                </div>
                            </button>
                        </a>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>